.homeTile {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
    width: 100%;
    padding: 100px 0;
    background-color: #EF233C;
}

.sceneTile {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
    width: 100%;
    padding: 50px 0;
    background-color: #EF233C;
}

.homeThinTile {
    height: 120px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
    background-color: #EF233C;
}