.cameraTile {
    position: relative;
    background-color: #EDF2F4;
}

.cameraTile > iframe {
    height: 300px;
    width: 100%;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 35px;
    color: #000000;
    background: #EF233C; 
}

/* Top left text */
.top-left {
    position: absolute;
    left: 16px;
    top: 8px;
    font-size: 35px;
    color: #000000;
    background: #EF233C; 
}

