.sideScrollTable {
    overflow: auto;
    white-space: nowrap;
}

.sideScrollItem {
    display: inline-block;
    border-style: solid;
    width: 400px;
}

.thinTemperature {
    font-size: 150px;
    text-align: center;
}

.thinIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}